.courses {
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 10px 5px rgba(8, 162, 251, 0.603);
    margin-bottom: 10px;
}

.course-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 365px;
    height: 150px;
    column-gap: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.course-sub {
    display: flex;
    justify-content: space-between;
    
}

.course-name {
    background-color: gray;
    color: black;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    border: 3px solid rgb(180, 180, 180);
    border-radius: 10px;
    box-shadow: 0 0 3px 6px rgba(73, 73, 73, 0.438) inset;
}

.course-desc-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.course-desc-name {
    margin-bottom: 5px;
    color: white;
}

.course-desc {
    margin-top: 5px;
    color: white;
}

.course-holes {
    margin: 0;
    margin-left: 25px;
    color: white;
}

.course-par {
    margin-left: 25px;
    color: white;
}

.course-button {
    align-self: center;
    margin-right: 15px;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 3px 3px 9px 1px rgba(253, 253, 253, 0.479);
    border: 3px solid rgb(8, 162, 251);
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}