.start-whole {
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(8, 162, 251, 0.603);
}

.start-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.start-name {
    background-color: black;
    color: white;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 15px;
    margin-bottom: 8px;
    border: 3px solid rgb(180, 180, 180);
    box-shadow: 0 0 3px 4px rgba(255, 255, 255, 0.322) inset;
}

.start-holes {
    margin: 5px;
    margin-bottom: 0;
}

.start-par {
    margin: 5px;
    margin-top: 0;
    padding-left: 18px;
}

.button-body {
    display: flex;
    justify-content: center;
}

.start-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 3px 3px 3px 1px rgba(2, 2, 2, 0.479);
    border: 3px solid rgb(8, 162, 251);
    background-color: black;
    color: white;
}

.drop-down {
    background-color: rgb(8, 162, 251);
    color: white;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.74) inset;
}