.addDisc-title {
    text-align: center;
    color: white;
    border-bottom: 4px solid rgba(8, 162, 251, 0.692);
    padding-bottom: 20px;
}

.addDisc-text {
    width: 70%;
    height: 50px;
    font-size: x-large;
    color: white;
    background-color: rgba(8, 162, 251, 0.692);
    border-color: white;
    text-align: center;
}

.addDisc-text::placeholder {
    color: white;
}

.addDisc-num::placeholder {
    color: white;
}

.addDisc-num {
    width: 13%;
    height: 50px;
    font-size: large;
    color: white;
    background-color: rgba(8, 162, 251, 0.692);
    border-color: white;
    text-align: center;
}

.addDisc-button {
    margin-top: 15px;
    width: 60%;
    height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 3px 3px 3px 1px rgba(2, 2, 2, 0.479);
    border: 3px solid rgb(8, 162, 251);
    border-radius: 10px;
    background-color: black;
    color: white;
}